body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}
.myButtons{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: aqua;
    color: white;
}